<!DOCTYPE html>
<html>
    <head>
        <title>Join The Editorial Board !</title>
        <style>
            .Editorial_Board{
                display: grid;
                grid-template-columns: 1fr 2fr;
                gap:10px;
            }
            head,body{
                background-color: black;
                color: gold;
                border: outset;
            }
            .Editorial_Board img{
                width: 100%;
            }
            
        </style>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div>
            <nav>
                <ul>
                    <li> <a href="index.html">Home</a> </li>
                    <li> <a href="about me.html">About Me</a> </li>
                    <li> <a href="quotes.html">Quote Of The Day</a> </li>
                </ul>
            </nav>
        </div>
        <div class="Editorial_Board">
            <div class="img">
                <img src="../static/editorial 1122.jpg" alt="Editorial Board">
            </div>
            <div class="text">
                <p>Good Choice ! If you want to join the Editorial Board , Click on "Click Here" given below .</p>
                <p><a target="u_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=FNT6_6O2Mk-pvULSj8gR8fVjRH7lkwNKqTXuxc4fpVlUMlREWTVUS0I4WFFZMDZXTzE4ODkzSVUwVC4u"> <button class="btn-underline"> <span>Click here</span> </button> </a>To Join The Club !</p>
            </div>
        </div>
    </body>
</html>