<!DOCTYPE html>
<html>
    <head>
        <title>Join The Environmental Club !</title>
        <style>
           .Environmental_Club{
               display:grid;
               grid-template-columns:1fr 2fr;
               gap:10px;
            }
            head,body{
                background-color: black;
                color: gold;
                border: outset;
            }
            .Environmental_Club img{
                width: 100%;
            }
        </style>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div>
            <nav>
                <ul>
                    <li> <a href="index.html">Home</a> </li>
                    <li> <a href="about me.html">About Me</a> </li>
                    <li> <a href="quotes.html">Quote Of The Day</a> </li>
                </ul>
            </nav>
        </div>
        <div class="Environmental_Club">
            <div class="img">
                <img src="../static/environment.jpg" alt="Environment">
            </div>
            <div class="text">
                <p>Good Choice ! If you want to join the Environmental Club, Click on "Click Here" given below .</p>
                <p><a target="u_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=FNT6_6O2Mk-pvULSj8gR8fVjRH7lkwNKqTXuxc4fpVlUM0daUTdJQjdVUlZLOENUNVREWFNCWE03WS4u"> <button class="btn-underline"> <span>Click here</span> </button> </a>To Join The Club !</p>
            </div>
        </div>
    </body>
</html>