<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    result{
        color: brown;
    }
</style>
<body>
    <form action="/subject">
        Enter your marks in Maths:
        <input type="text" name="Maths" id="">
        Enter your marks in Science:
        <input type="text" name="Science" id="">
        Enter your marks in Social science:
        <input type="text" name="Social" id="">
        Enter your marks in English:
        <input type="text" name="English" id="">
        Enter your marks in Hindi:
        <input type="text" name="Hindi" id="">
     <button type="submit">Submit</button>
     {{result}}
    </form>
</body>
</html>