<!DOCTYPE html>
<html>
    <head>
        <title>Join The Happiness Club !</title>
        <style>
            .Happiness_Club{
               display:grid;
               grid-template-columns:1fr 2fr;
               gap:10px;
            }
            head,body{
                background-color: black;
                color: gold;
                border: outset;
            }
            .Happiness_Club img{
                width: 100%;
            }
            
        </style>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div>
            <nav>
                <ul>
                    <li> <a href="index.html">Home</a> </li>
                    <li> <a href="about me.html">About Me</a> </li>
                    <li> <a href="quotes.html">Quote Of The Day</a> </li>
                </ul>
            </nav>
        </div>
        <div class="Happiness_Club">
            <div>
                <img src="../static/happy.jpg" alt="Happy">
            </div>
            <div>
                <p>Good Choice ! If you want to join the Happiness Club, Click on "Click Here" given below .</p>
                <p><a target="u_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=FNT6_6O2Mk-pvULSj8gR8fVjRH7lkwNKqTXuxc4fpVlUM0oxT1JKS01OUlRJRE9HVU1GSDVCWFJJWC4u"> <button class="btn-underline"><span>Click Here</span></button> </a>To Join The Club !</p>
            </div>
        </div>
    </body>
</html>