<html>
    <head>
        <title>Louis Vuitton Home</title>
        <style>
            body{
                background-color: black;
                border: 2px outset white;
                color: white;
            }
            .gridlol{
                display: grid;
                gap:10px;
                grid-template-columns: auto auto;
                padding: 10px;

            }
            .one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.ten{
                border: 2px outset gold;
                border-radius: 10px;
            }
            .imgPic img{
                width:100%;
            }
            .imgPic{
                width: 10%;
            }
            .lv{
                border: outset blue;
                            }
            .lv img{
                width: 100%;
                height: 500px;
                            }
        </style>
    </head>

    <body>
        <div class="imgPic">
            <img src="../static/lv.jpg" alt="Louis Vuitton">
        </div>
        <h1>Why Louis Vuitton ?</h1>
        <p>You really don't have to worry about any kind of damage, if you are the lucky owner of a canvas Louis V. bag. The canvas was originally developed for travel gear, like suitcases, so it's a really sturdy material. Don't fear for any scratching as this type of canvas is indestructible. You can easily toss your bag around, no biggie.</p>
        <div class="gridlol">
            <div class="lv">
                <img src="../static/lv pochette.jpg" alt="Louis Vuitton Pochette Bag">
                <p>Louis Vuitton launched a new multipurpose bag, called the Multi Pochette. The Parisian label has created the appropriate piece for layers, blending, matching and wearing on the go. Pochette originated in the year 1992, delighting women around the world with its elegant and sophisticated style. The new bag is a new take on the classic.</p>
            </div>
            <div class="lv">
                <img src="../static/nvfull.jpg" alt="Louis Vuitton Neverfull Bag">
                <p>The Neverfull bag is one of Louis Vuitton’s most popular bags. The chic, yet extremely practical tote, was released in 2007 and has since then become a staple in any luxury handbag lovers collection. More so, many Louis Vuitton fans and handbag enthusiasts tend to own the Neverfull in a variety of the available colours and sizes.</p>
            </div>
            <div class="lv">
                <img src="../static/louis-vuitton-multicolor-slalom-monogram-canvas-sneaker-shoes-0-1-960-960.jpg" alt="">
                <p>Lace up and rock these Slalom Monogram Canvas Sneakers by Louis Vuitton for a modern urban finish! Made from Louis Vuitton's iconic monogram coated canvas, these sneakers are detailed with matte leather cap toes and trim, lace up fronts, LV leather tags and black rubber soles.</p>
            </div>
            <div class="lv">
                <img src="../static/timeout.jpg" alt="">
                <p>Crafted from soft white calf leather, this version of the Time Out sneaker is notable for its gold-glitter signatures: the LV Initials on the side and a Monogram Flower on the back. </p>
            </div>
            <div class="lv">
                <img src="../static/LOUIS-VUITTON-Monogram-Clemence-Wallet-angle-1200x1200.jpg" alt="">
                <p>Meet the Clémence Wallet, compact yet with high capacity and in smart, practical Monogram canvas. And yet playful femininity is also part of its charm with its brightly coloured lining and leather zipper.</p>
            </div>
            <div class="lv">
                <img src="../static/emilieeee waller23.jpg" alt="">
                <p>Discover Louis Vuitton Emilie Wallet: Proving that functionality and beautiful design can go together, the Emilie Wallet is elegance itself in supple Monogram canvas with a fresh lining color. Numerous pockets and an attractive shape make it irresistible.</p>
            </div>
            <div class="lv">
                <img src="../static/Louis-Vuitton-Belt-Initiales-Damier-Graphite-Black-Grey-Studio-1.jpg" alt="">
                <p>The 40mm LV Initiales reversible belt features a stylish yet functional design. An indispensable accessory in metallic Damier Infini leather and classic Damier Infini leather, complete with the iconic LV Initiales buckle. The model is ideally combined with other accessories of the collection of leather goods.</p>
            </div>
            <div class="lv">
                <img src="../static/Louis-Vuitton-Belt-Initiales-Monogram-Eclipse-Split-Outdoor-40mm-Black-White-2.jpg" alt="">
                <p>The stylish LV Circle 40mm belt is new for this season. A striking metal buckle in the shape of the LV Circle motif contrasts with the timeless Monogram canvas adorning the strap. Signature House fabrics and a contemporary webbed trim and lining combine to create a cutting-edge piece that will add a sophisticated touch to casual wear.</p>
            </div>
            <div class="lv">
                <img src="../static/LOUIS-VUITTON-Waimea-Sunglasses-Z1082E-Black-angle-1200x1200.jpg" alt="">
                <p>The LV Waimea sunglasses make a lightweight, everyday accessory. This pair is sculpted to a flattering round shape and accented with a playful interpretation of the Damier pattern, a dominant motif of the Spring-Summer 2021 Collection. Special finishing touches include the patterned end tips and the embossed Louis Vuitton signature on the temples.</p>
            </div>
            <div class="lv">
                <img src="../static/evidence.jpg" alt="">
                <p>These stylish Evidence Sunglasses from Louis Vuitton are elegantly structured. Made from acetate, they feature a polished gold-tone frame top engraved with LV’s signature symbols. The gradient lenses hold the brand insignia on the top and the temples are engraved with the brand name.</p>
            </div>
        </div>
    </body>
</html>