<!DOCTYPE html>
<html>
    <head>
        <title>Join The Quiz Society !</title>
        <style>
            .Quiz_Society{
               display:grid;
               grid-template-columns:1fr 2fr;
               gap:10px;
            }
            head,body{
                background-color: black;
                color: gold;
                border: outset;
            }
            .Quiz_Society img{
                width: 100%;
            }
            
        </style>
        <link rel="stylesheet" href="../static/style.css"> 
    </head>
    <body>
        <div>
            <nav>
                <ul>
                    <li> <a href="index.html">Home</a> </li>
                    <li> <a href="about me.html">About Me</a> </li>
                    <li> <a href="quotes.html">Quote Of The Day</a> </li>
                </ul>
            </nav>
        </div>
        <div class="Quiz_Society">
            <div class="img">
                <img src="../static/quiz.jpg" alt="Quiz Night">
            </div>
            <div class="text">
                <p>Good Choice ! If you want to join the Quiz Society, Click on "Click Here" given below .</p>
                <p><a target="u_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=FNT6_6O2Mk-pvULSj8gR8fVjRH7lkwNKqTXuxc4fpVlUQVc4MUVVNTRaMDdVOENVS1JQNVNIRVkyTS4u"> <button class="btn-underline"> <span>Click Here</span> </button> </a>To Join The Society !</p>
            </div>
        </div>
    </body>
</html>