<!DOCTYPE html>
<html>
    <head>
        <title>Join The Readers Club !</title>
        <style>
            .Readers_Club{
               display:grid;
               grid-template-columns:1fr 2fr;
               gap:10px;
            }
            head,body{
                background-color: black;
                color: gold;
                border:outset;
            }
            .Readers_Club img{
                width: 100%;
            }
            
        </style>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div>
            <nav>
                <ul>
                    <li> <a href="index.html">Home</a> </li>
                    <li> <a href="about me.html">About Me</a> </li>
                    <li> <a href="quotes.html">Quote Of The Day</a> </li>
                </ul>
            </nav>
        </div>
        <div class="Readers_Club">
            <div class="img">
                <img src="../static/reading.jpg" alt="Quote For Readers">
            </div>
            <div class="text">
                <p>Good Choice ! If you want to join the Readers Club, Click on "Click Here" given below .</p>
                <p><a target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=FNT6_6O2Mk-pvULSj8gR8fVjRH7lkwNKqTXuxc4fpVlUNjA4WU8wUVQ5Q1JVT1BYUVlLVlVJUUFGMi4u"><button class="btn-underline"><span>Click Here</span></button></a>To Join The Club !</p>
                <h2>I am really sorry to inform that membership to the Readers Club is closed because the club is full of members, dont worry you can join other clubs :)</h2>
            </div>
        </div>
    </body>
</html>